# Database
# ローカル開発環境
DATABASE_URL="postgresql://username:password@localhost:5432/sales_daily_report?schema=public"

# Cloud SQL (本番環境)
# DATABASE_URL="postgresql://username:password@/sales_daily_report?host=/cloudsql/atomic-segment-479807-h2:asia-northeast1:sales-daily-report-db"

# Next.js
NODE_ENV="development"

# Cloud Run
PORT=8080

# JWT認証
# アクセストークン用シークレット（本番環境では必ず変更すること）
JWT_SECRET="your-jwt-secret-key-minimum-32-characters-long"

# リフレッシュトークン用シークレット（本番環境では必ず変更すること）
JWT_REFRESH_SECRET="your-jwt-refresh-secret-key-minimum-32-characters-long"

# Google Cloud
# GCP_PROJECT_ID="atomic-segment-479807-h2"
# GCP_REGION="asia-northeast1"
